.home-content>ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 0.75rem;
  row-gap: 0.75rem;
  margin-right: 10px;
}

.home-content {
  display: flex;
  flex-direction: column;
}

.home-content>h5 {
  margin: 20px 0 0 40px;
  font-size: 1.25rem;
}