header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.header-logo {
  display: inline-block;
  align-items: center;
  padding: 0 1rem;
}

.header-logo-link {
  display: flex;
  cursor: pointer;
  font-weight: 600;
  display: inline;
  color: #4255ff;
  text-decoration: none;
  font-size: 2.5rem;
  display: inline;
}

.header-user {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.header-user img {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-position: center;
}